
{% extends 'base.html' %}

{% block title %}
Страница про нас - Sweet Tears
{% endblock %}

{% block body %}
<div class="container py-4">
    <h1 class="text-center mb-5" style="font-family: 'Pacifico', cursive; color: #D10063; font-size: 3em;">О нас - Sweet Tears</h1>
     <div class="text-center mt-4">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5325b031-e8be-49fc-92ae-4dc4a5150521/d6tfzt1-86b30fa5-2d23-4a6d-92f7-91a5eebea01f.png/v1/fill/w_313,h_224/hello_kitty_candy_by_slitkitten_d6tfzt1-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjI0IiwicGF0aCI6IlwvZlwvNTMyNWIwMzEtZThiZS00OWZjLTkyYWUtNGRjNGE1MTUwNTIxXC9kNnRmenQxLTg2YjMwZmE1LTJkMjMtNGE2ZC05MmY3LTkxYTVlZWJlYTAxZi5wbmciLCJ3aWR0aCI6Ijw9MzEzIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.QnQWVa1VwbQUNZLV6E1RHReIEVUFZum3E1CvCsDe49E" alt="Sweet Tears Candy" style="max-width: 100%; height: auto;">
    </div>

    <div class="mt-5">
        <!-- Section Style -->
        <style>
            .section-card {
                background-color: #fff0f5;
                border-radius: 20px;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }
            .section-card:hover {
                transform: translateY(-5px);
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
            }
        </style>

        <!-- Оформление блока с историей -->
        <div class="card mb-3 section-card">
            <div class="card-body">
                <h2 class="card-title" style="font-family: 'Pacifico', cursive; color: #D10063;">Наша история</h2>
                <p style="font-family: 'Open Sans', sans-serif; color: #333;">Мы в "Sweet Tears" верим, что каждый кусочек нашей сладости - это маленькая слеза счастья. Наша история началась более 10 лет назад, когда мы открыли свой первый магазинчик в центре города. С тех пор мы росли, исследовали и радовали своих клиентов вкуснейшими сладостями.</p>
            </div>
        </div>

        <!-- Оформление блока с достижениями -->
        <div class="card mb-3 section-card">
            <div class="card-body">
                <h2 class="card-title" style="font-family: 'Pacifico', cursive; color: #D10063;">Наши достижения</h2>
                <p style="font-family: 'Open Sans', sans-serif; color: #333;">За годы работы мы продали более миллиона конфет, шоколада, мармелада и других сладостей, каждая из которых была сделана с любовью и заботой. Наши клиенты возвращаются к нам снова и снова за порцией сладких эмоций и вкусовых ощущений.</p>
            </div>
        </div>

        <!-- Оформление блока с философией -->
        <div class="card mb-3 section-card">
            <div class="card-body">
                <h2 class="card-title" style="font-family: 'Pacifico', cursive; color: #D10063;">Наша философия</h2>
                <p style="font-family: 'Open Sans', sans-serif; color: #333;">Мы гордимся тем, что создаём продукцию высокого качества, используя только лучшие ингредиенты. Наша команда - это профессионалы своего дела, которые любят свою работу и ценят каждого клиента.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
